<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="t1000" class="ru.javabegin.training.spring.impls.robot.ModelT1000">
<!--	<constructor-arg ref="SonyHand"/>-->
<!--	<constructor-arg ref="SonyLeg"/>-->
<!--	<constructor-arg ref="SonyHead"/>-->
		<property name="hand" ref="SonyHand"/>  <!--прописывание свойсвт экземпляра, GETTER SETER-->
		<property name="leg" ref="SonyLeg"/>
		<property name="head" ref="ToshibaHead"/>
	</bean>

	<bean id="SonyHand" class="ru.javabegin.training.spring.impls.sony.SonyHand"/>
	<bean id="SonyHead" class="ru.javabegin.training.spring.impls.sony.SonyHead"/>
	<bean id="SonyLeg" class="ru.javabegin.training.spring.impls.sony.SonyLeg"/>
	<bean id="ToshibaHand" class="ru.javabegin.training.spring.impls.toshiba.ToshibaHand"/>
	<bean id="ToshibaHead" class="ru.javabegin.training.spring.impls.toshiba.ToshibaHead"/>
	<bean id="ToshibaLeg" class="ru.javabegin.training.spring.impls.toshiba.ToshibaLeg"/>

</beans>
