<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
  default-lazy-init="true"
> <context:annotation-config/>
 <import resource="T1000.xml"></import><!--использование аннотаций-->

<!--	<bean class="ru.javabegin.training.spring.main.MyBeanPostProcessor"/>-->
	<bean id="t1000Conveyor" class="ru.training.spring.impls.conveyor.T1000Conveyor">
		<lookup-method name="createRobot" bean="t1000"/>
	</bean>

	<bean id="t1000Pool" class="ru..training.spring.impls.pool.T1000Pool">
		<constructor-arg name="robotCollection">  <!--Передача значения по имени -->
			<list>
				<ref bean="t1000"/>
				<bean class="ru.training.spring.impls.robot.ModelT1000" parent="baseModel">
					<constructor-arg value="gold"/>
					<constructor-arg value="2007"/>
					<constructor-arg value="true"/>
				</bean>
				<bean class="ru.training.spring.impls.robot.ModelT1000" parent="baseModel">
					<constructor-arg value="gold"/>
					<constructor-arg value="2009"/>
					<constructor-arg value="true"/>
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean id="t1000ColdenPool" class="ru..training.spring.impls.pool.T1000Pool">
		<constructor-arg name="robotCollection"
			value="#{t1000Pool.robotCollection.?[color.toUpperCase() eq 'GOLD']}">
		</constructor-arg>
	</bean>

</beans>
